<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid col-12 col-md-8">
    <a class="navbar-brand" href="/">
      Dizzie
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <div class="mx-auto"></div>

      <form action="/signin" method="get">
        <button type="submit" class="btn btn-primary">
          Sing In
        </button>
      </form>

      <div class="mx-1"></div>

      <form action="/signup" method="get">
        <button type="submit" class="btn btn-primary">
          Sing Up
        </button>
      </form>
    </div>
  </div>
</nav>
